.chat-interface {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #c9bbbb6e;
}

.message-container {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  padding-right: 10px;
}

.message {
  background-color: #007bff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #fff;
}

.input-container {
  display: flex;
  align-items: center;
}

input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #1eff00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 500px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: green;
}

h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

